.shadow-white{
    box-shadow: 10px 10px 5px whitesmoke;
}

#container{
    width: 600px;
    height: 400px;
    position: relative;
    background: cyan;
}

#animate{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    background: red;
}

.darkCard{
    width: 18rem; 
    height: 35rem; 
    border-style: hidden; 
    box-shadow: 0 4px 8px 0 rgba(196, 196, 196, 0.2), 0 6px 20px 0 rgba(196, 196, 196, 0.19);
    transition: transform .5s;
}

.front{
    visibility: visible;
}

.back{
    visibility: hidden;
}

.darkCard:hover{
    transform: scale(1.15);
}

.poster{
    width:100%; 
    height: 100%; 
    object-fit: cover;
}



.activeRed {
    color: #E50914;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

